extends layout

block content

  h1 Bienvenidos a la rotación semanal de fotos
  p A continuación, los momentos más impactantes captados por la cámara:

  div(class="img-container")
    h3 Primera Imagen:
    img(src="/imagenes/img1.png",class="main-img")
    p Nuestro gerente institucional disfrutando con gozo el deporte de los dioses.
    
    h3 Segunda Imagen:
    img(src="/imagenes/img2.png",class="main-img")
    p El bibliotecario demostrando sus habilidades ocultas.
    
    h3 Tercera Imagen:
    img(src="/imagenes/img3.png",class="main-img")
    p Rodrigo, jugador estrella, ¡EL NUEVO ADVÍNCULA!.
    
    h3 Cuarta Imagen:
    img(src="/imagenes/img4.png",class="main-img")
    p Jairo, campeón olímpico por 13 años consecutivos.
    
    h3 Quinta Imagen:
    img(src="/imagenes/img5.png",class="main-img")
    p Dos de los alumnos más resaltantes descubriendo sus gustos.